<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hello, World!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../mainImages/hwicon.png" rel="icon">
  <link href="../mainImages/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- vendor CSS Files -->
  <link href="../mainVendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../mainVendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../mainVendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../mainVendor/venobox/venobox.css" rel="stylesheet">
  <link href="../mainVendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../mainVendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/mainStyle.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v2.3.1
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">
        <img id = "homeicon" alt="icon" src="../mainImages/hwicon.png">
        <span>Hello, World!</span>
        </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

	  <!-- 첫 번째 nav -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
<!--           <li class="active"><a href="index.html">Home</a></li> -->
          <li><a href="#about">돋보기</a></li>
          <li><a href="#services">하트</a></li>
          <li><a href="#portfolio">사람</a></li>

          <li class="get-started"><a href="#about">여행시작</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <br>
    </div>
    <br>
    
    <div class="container-fluid d-flex second-nav">

	  <!-- 두 번째 nav -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#about">문의 게시판</a></li>
          <li><a href="#services">홍보 게시판</a></li>
          <li><a href="#portfolio">이벤트 게시판</a></li>
          <li><a href="#portfolio">공지사항</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <br>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <video src="../mainImages/황리단길.mp4"></video>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= top10 Section ======= -->
    <section id="top10" class="clients section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <p>TOP10 여행지</p>
        </div>

        <div class="owl-carousel clients-carousel" data-aos="fade-up" data-aos-delay="10">
          <img src="../mainImages/clients/client-1.png" alt="">
          <img src="../mainImages/clients/client-2.png" alt="">
          <img src="../mainImages/clients/client-3.png" alt="">
          <img src="../mainImages/clients/client-4.png" alt="">
          <img src="../mainImages/clients/client-5.png" alt="">
          <img src="../mainImages/clients/client-6.png" alt="">
          <img src="../mainImages/clients/client-7.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
        </div>

      </div>
    </section><!-- End top10 Section -->

    <!-- ======= recommend Section ======= -->
    <section id="recommend" class="clients section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <p>추천 여행지</p>
        </div>

        <div class="owl-carousel clients-carousel" data-aos="fade-up" data-aos-delay="10">
          <img src="../mainImages/clients/client-1.png" alt="">
          <img src="../mainImages/clients/client-2.png" alt="">
          <img src="../mainImages/clients/client-3.png" alt="">
          <img src="../mainImages/clients/client-4.png" alt="">
          <img src="../mainImages/clients/client-5.png" alt="">
          <img src="../mainImages/clients/client-6.png" alt="">
          <img src="../mainImages/clients/client-7.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
        </div>

      </div>
    </section><!-- End recommend Section -->
    
    <!-- ======= job Section ======= -->
    <section id="job" class="clients section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <p>직업별 추천 여행지</p>
        </div>

        <div class="owl-carousel clients-carousel" data-aos="fade-up" data-aos-delay="10">
          <img src="../mainImages/clients/client-1.png" alt="">
          <img src="../mainImages/clients/client-2.png" alt="">
          <img src="../mainImages/clients/client-3.png" alt="">
          <img src="../mainImages/clients/client-4.png" alt="">
          <img src="../mainImages/clients/client-5.png" alt="">
          <img src="../mainImages/clients/client-6.png" alt="">
          <img src="../mainImages/clients/client-7.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
          <img src="../mainImages/clients/client-8.png" alt="">
        </div>

      </div>
    </section><!-- End job Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Ninestars</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- vendor JS Files -->
  <script src="../mainVendor/jquery/jquery.min.js"></script>
  <script src="../mainVendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../mainVendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../mainVendor/php-email-form/validate.js"></script>
  <script src="../mainVendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../mainVendor/venobox/venobox.min.js"></script>
  <script src="../mainVendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../mainVendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/mainMain.js"></script>

</body>

</html>